In [1]:
#import the necessary packages

import pandas as pd
import pymannkendall as mk
%matplotlib inline

BEGIN THE MANN KENDALL (MK) TREND TEST FOR ALL PARAMETERS IN EACH LOCATION. The original MK test will be used, with a significance level of 5% (0.05)

In [3]:
cal= pd.read_excel('climate research analyzed.xlsx', sheet_name ='calabar1')
cal.head()

,Year,Temp,SVP,RH,VP,AP,REF,R,TL,EPT,...,Temp.1,SVP.1,RH.1,VP.1,AP.1,REF.1,R.1,TL.1,EPT.1,PT.1
0,1981.0,297.809167,31.044849,88.100000,27.299015,996.416667,375.054142,17.522100,295.126130,349.195856,...,NaN,NaN,0.285653,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1982.0,297.447500,30.373541,89.865000,27.255807,996.350000,375.450407,17.494295,295.191838,348.674030,...,NaN,NaN,-0.027753,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1983.0,298.380833,32.399100,85.375000,27.194593,996.766667,373.756648,17.448782,294.895907,349.670218,...,NaN,NaN,-0.285653,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1984.0,297.471667,30.404456,88.884167,27.028972,995.708333,374.271771,17.357327,294.990009,348.377978,...,True,True,0.000000,True,True,True,True,True,True,True
4,1985.0,297.728333,30.909036,87.427500,26.905763,996.108333,373.465668,17.268158,294.849443,348.380419,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
mk.original_test(cal.Temp, alpha=0.05)

Mann_Kendall_Test(trend='increasing', h=True, p=4.6464478931085296e-08, z=5.464335208972643, Tau=0.6025641025641025, s=470.0, var_s=7366.666666666667, slope=0.026678503787877242, intercept=297.76810250946966)

In [6]:
mk.original_test(cal.VP, alpha=0.05)

Mann_Kendall_Test(trend='increasing', h=True, p=4.68984124868399e-08, z=5.462685848564899, Tau=0.586527293844367, s=505.0, var_s=8512.333333333334, slope=0.050551483925438984, intercept=27.213348036627252)

In [7]:
mk.original_test(cal.AP, alpha=0.05)

Mann_Kendall_Test(trend='no trend', h=False, p=0.83385394949437, z=-0.20976133802678293, Tau=-0.02435897435897436, s=-19.0, var_s=7363.666666666667, slope=-0.0009837962962898751, intercept=996.3441840277779)

In [8]:
mk.original_test(cal.REF, alpha=0.05)

Mann_Kendall_Test(trend='increasing', h=True, p=8.588862843161849e-08, z=5.354299224585437, Tau=0.5749128919860628, s=495.0, var_s=8512.333333333334, slope=0.17310125943585522, intercept=374.515378487133)

In [9]:
mk.original_test(cal.R, alpha=0.05)

Mann_Kendall_Test(trend='increasing', h=True, p=4.615578585998037e-09, z=5.860470384036757, Tau=0.6461538461538462, s=504.0, var_s=7366.666666666667, slope=0.03479202907388828, intercept=17.476600259883906)

In [10]:
mk.original_test(cal.TL, alpha=0.05)

Mann_Kendall_Test(trend='increasing', h=True, p=2.0928228483541034e-08, z=5.604147623701154, Tau=0.617948717948718, s=482.0, var_s=7366.666666666667, slope=0.03321737377046266, intercept=295.0459399769683)

In [11]:
mk.original_test(cal.EPT, alpha=0.05)

Mann_Kendall_Test(trend='increasing', h=True, p=1.969741703078398e-09, z=6.0002827987652685, Tau=0.6615384615384615, s=516.0, var_s=7366.666666666667, slope=0.13697694570101468, intercept=348.87821136673415)

In [12]:
mk.original_test(cal.PT, alpha=0.05)

Mann_Kendall_Test(trend='increasing', h=True, p=4.073454262787379e-08, z=5.487637278094061, Tau=0.6051282051282051, s=472.0, var_s=7366.666666666667, slope=0.02681953049911241, intercept=298.11086469017556)

In [13]:
ibn= pd.read_excel('climate research analyzed.xlsx', sheet_name ='ibadan1')
ibn.head()

,Year,Temp,SVP,RH,VP,AP,REF,R,TL,EPT,...,Temp.1,SVP.1,RH.1,VP.1,AP.1,REF.1,R.1,TL.1,EPT.1,PT.1
0,1981.0,298.045000,31.480190,84.380833,26.566986,989.675000,369.798076,17.160486,294.481241,349.147785,...,0.285653,0.285653,NaN,NaN,NaN,NaN,NaN,NaN,0.285653,0.285653
1,1982.0,297.652500,30.746338,84.582500,25.995192,989.741667,368.042480,16.779416,294.143730,347.539072,...,-0.068776,-0.051045,NaN,NaN,NaN,NaN,NaN,NaN,0.238980,-0.083079
2,1983.0,298.800000,33.096997,79.838333,26.378266,990.000000,367.780290,17.035596,294.026806,349.728094,...,-0.285653,-0.285653,NaN,NaN,NaN,NaN,NaN,NaN,-0.285653,-0.285653
3,1984.0,298.810000,33.104781,79.698333,26.111579,988.900000,366.473859,16.874159,293.901478,349.334968,...,0.000000,0.000000,True,True,True,True,True,True,0.000000,0.000000
4,1985.0,298.249167,31.922250,82.370000,26.200569,989.316667,367.835781,16.923950,294.143065,348.744337,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
mk.original_test(ibn.Temp, alpha=0.05)

Mann_Kendall_Test(trend='no trend', h=False, p=0.35734719361075706, z=0.9204317302960315, Tau=0.10256410256410256, s=80.0, var_s=7366.666666666667, slope=0.005210193452380909, intercept=298.2013178943452)

In [15]:
mk.original_test(ibn.VP, alpha=0.05)

Mann_Kendall_Test(trend='increasing', h=True, p=0.00010435295488342433, z=3.8802411384647493, Tau=0.4169570267131243, s=359.0, var_s=8512.333333333334, slope=0.03406748652404466, intercept=26.45545230465243)

In [16]:
mk.original_test(ibn.AP, alpha=0.05)

Mann_Kendall_Test(trend='no trend', h=False, p=0.8887706956002968, z=-0.1398598865474543, Tau=-0.016666666666666666, s=-13.0, var_s=7361.666666666667, slope=-0.0007411067193745539, intercept=989.5727849143613)

In [17]:
mk.original_test(ibn.REF, alpha=0.05)

Mann_Kendall_Test(trend='increasing', h=True, p=5.53083271821464e-05, z=4.031982412035997, Tau=0.4332171893147503, s=373.0, var_s=8512.333333333334, slope=0.13339753531591292, intercept=369.1575653037994)

In [18]:
mk.original_test(ibn.R, alpha=0.05)

Mann_Kendall_Test(trend='increasing', h=True, p=2.880402754890099e-05, z=4.182721407294625, Tau=0.46153846153846156, s=360.0, var_s=7366.666666666667, slope=0.024587622316028283, intercept=17.074116151233014)

In [19]:
mk.original_test(ibn.TL, alpha=0.05)

Mann_Kendall_Test(trend='increasing', h=True, p=8.622720154738417e-05, z=3.9263986469590204, Tau=0.43333333333333335, s=338.0, var_s=7366.666666666667, slope=0.02686742559613625, intercept=294.2826499416132)

In [20]:
mk.original_test(ibn.EPT, alpha=0.05)

Mann_Kendall_Test(trend='increasing', h=True, p=9.496978488710006e-05, z=3.903096577837602, Tau=0.4307692307692308, s=336.0, var_s=7366.666666666667, slope=0.07899397110509199, intercept=349.0921894802335)

In [21]:
kan= pd.read_excel('climate research analyzed.xlsx', sheet_name ='kano1')
kan.head()

,Year,Temp,SVP,RH,VP,AP,REF,R,TL,EPT,...,Temp.1,SVP.1,RH.1,VP.1,AP.1,REF.1,R.1,TL.1,EPT.1,PT.1
0,1981.0,298.374167,32.635658,46.050833,15.618697,960.550000,315.122843,10.330774,281.554016,332.859321,...,NaN,NaN,NaN,NaN,0.285653,NaN,NaN,NaN,0.285653,NaN
1,1982.0,298.756667,33.299984,48.139167,16.510078,960.441667,318.419509,10.919639,283.148446,334.999812,...,NaN,NaN,NaN,NaN,0.280640,NaN,NaN,NaN,0.183948,NaN
2,1983.0,298.055000,32.145180,43.839167,14.513767,961.141667,311.072128,9.589215,280.067978,330.271194,...,NaN,NaN,NaN,NaN,-0.285653,NaN,NaN,NaN,-0.285653,NaN
3,1984.0,298.455833,32.850286,47.603333,16.286631,959.800000,317.581049,10.782303,282.669561,334.364508,...,True,True,True,True,0.000000,True,True,True,0.000000,True
4,1985.0,298.229167,32.241333,45.030833,15.059492,960.216667,312.932702,9.955178,281.038468,331.603839,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
mk.original_test(kan.Temp, alpha=0.05)

Mann_Kendall_Test(trend='increasing', h=True, p=8.106709760813402e-06, z=4.462346236751647, Tau=0.49230769230769234, s=384.0, var_s=7366.666666666667, slope=0.05161199294532791, intercept=297.85023280423275)

In [23]:
mk.original_test(kan.VP, alpha=0.05)

Mann_Kendall_Test(trend='no trend', h=False, p=0.4743917385049379, z=-0.715351718264451, Tau=-0.07781649245063879, s=-67.0, var_s=8512.333333333334, slope=-0.012069563127764539, intercept=15.907077436854266)

In [24]:
mk.original_test(kan.AP, alpha=0.05)

Mann_Kendall_Test(trend='no trend', h=False, p=0.21233564767916757, z=1.247168698210847, Tau=0.13846153846153847, s=108.0, var_s=7360.666666666667, slope=0.007665598290591319, intercept=960.3755208333334)

In [25]:
mk.original_test(kan.REF, alpha=0.05)

Mann_Kendall_Test(trend='no trend', h=False, p=0.2505979541158305, z=-1.1488982141823, Tau=-0.12427409988385599, s=-107.0, var_s=8512.333333333334, slope=-0.10820756711176689, intercept=316.56494825093984)

In [26]:
mk.original_test(kan.R, alpha=0.05)

Mann_Kendall_Test(trend='no trend', h=False, p=0.43502642785483836, z=-0.7806193155675204, Tau=-0.08717948717948718, s=-68.0, var_s=7366.666666666667, slope=-0.007703139831075769, intercept=10.504571494265335)

In [27]:
mk.original_test(kan.TL, alpha=0.05)

Mann_Kendall_Test(trend='no trend', h=False, p=0.16560248483061546, z=-1.3864731127244019, Tau=-0.15384615384615385, s=-120.0, var_s=7366.666666666667, slope=-0.033411357343653206, intercept=282.13714424808404)

In [28]:
mk.original_test(kan.EPT, alpha=0.05)

Mann_Kendall_Test(trend='no trend', h=False, p=0.20409789310190107, z=1.2699627671173093, Tau=0.14102564102564102, s=110.0, var_s=7366.666666666667, slope=0.03687351337678558, intercept=333.0507434844703)

In [29]:
mk.original_test(kan.PT, alpha=0.05)

Mann_Kendall_Test(trend='increasing', h=True, p=1.120855534253451e-05, z=4.392440029387391, Tau=0.4846153846153846, s=378.0, var_s=7366.666666666667, slope=0.051767752982776735, intercept=301.29394694964327)

In [30]:
kuk= pd.read_excel('climate research analyzed.xlsx', sheet_name ='kano1')
kuk.head()

,Year,Temp,SVP,RH,VP,AP,REF,R,TL,EPT,...,Temp.1,SVP.1,RH.1,VP.1,AP.1,REF.1,R.1,TL.1,EPT.1,PT.1
0,1981.0,298.374167,32.635658,46.050833,15.618697,960.550000,315.122843,10.330774,281.554016,332.859321,...,NaN,NaN,NaN,NaN,0.285653,NaN,NaN,NaN,0.285653,NaN
1,1982.0,298.756667,33.299984,48.139167,16.510078,960.441667,318.419509,10.919639,283.148446,334.999812,...,NaN,NaN,NaN,NaN,0.280640,NaN,NaN,NaN,0.183948,NaN
2,1983.0,298.055000,32.145180,43.839167,14.513767,961.141667,311.072128,9.589215,280.067978,330.271194,...,NaN,NaN,NaN,NaN,-0.285653,NaN,NaN,NaN,-0.285653,NaN
3,1984.0,298.455833,32.850286,47.603333,16.286631,959.800000,317.581049,10.782303,282.669561,334.364508,...,True,True,True,True,0.000000,True,True,True,0.000000,True
4,1985.0,298.229167,32.241333,45.030833,15.059492,960.216667,312.932702,9.955178,281.038468,331.603839,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
mk.original_test(kuk.Temp, alpha=0.05)

Mann_Kendall_Test(trend='increasing', h=True, p=8.106709760813402e-06, z=4.462346236751647, Tau=0.49230769230769234, s=384.0, var_s=7366.666666666667, slope=0.05161199294532791, intercept=297.85023280423275)

In [32]:
mk.original_test(kuk.VP, alpha=0.05)

Mann_Kendall_Test(trend='no trend', h=False, p=0.4743917385049379, z=-0.715351718264451, Tau=-0.07781649245063879, s=-67.0, var_s=8512.333333333334, slope=-0.012069563127764539, intercept=15.907077436854266)

In [33]:
mk.original_test(kuk.AP, alpha=0.05)

Mann_Kendall_Test(trend='no trend', h=False, p=0.21233564767916757, z=1.247168698210847, Tau=0.13846153846153847, s=108.0, var_s=7360.666666666667, slope=0.007665598290591319, intercept=960.3755208333334)

In [34]:
mk.original_test(kuk.REF, alpha=0.05)

Mann_Kendall_Test(trend='no trend', h=False, p=0.2505979541158305, z=-1.1488982141823, Tau=-0.12427409988385599, s=-107.0, var_s=8512.333333333334, slope=-0.10820756711176689, intercept=316.56494825093984)

In [35]:
mk.original_test(kuk.R, alpha=0.05)

Mann_Kendall_Test(trend='no trend', h=False, p=0.43502642785483836, z=-0.7806193155675204, Tau=-0.08717948717948718, s=-68.0, var_s=7366.666666666667, slope=-0.007703139831075769, intercept=10.504571494265335)

In [36]:
mk.original_test(kuk.TL, alpha=0.05)

Mann_Kendall_Test(trend='no trend', h=False, p=0.16560248483061546, z=-1.3864731127244019, Tau=-0.15384615384615385, s=-120.0, var_s=7366.666666666667, slope=-0.033411357343653206, intercept=282.13714424808404)

In [37]:
mk.original_test(kuk.EPT, alpha=0.05)

Mann_Kendall_Test(trend='no trend', h=False, p=0.20409789310190107, z=1.2699627671173093, Tau=0.14102564102564102, s=110.0, var_s=7366.666666666667, slope=0.03687351337678558, intercept=333.0507434844703)

In [38]:
mk.original_test(kuk.PT, alpha=0.05)

Mann_Kendall_Test(trend='increasing', h=True, p=1.120855534253451e-05, z=4.392440029387391, Tau=0.4846153846153846, s=378.0, var_s=7366.666666666667, slope=0.051767752982776735, intercept=301.29394694964327)